<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<h1 id="title">BabaStrat</h1>
							<p>Creating alphas with BABAs</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="{% url 'babaApp:learn' %}" id="learn-link" class="skel-layers-ignoreHref" style="{{ style.learn_li }}"><span class="icon fa-lightbulb-o" style="{{ style.learn_span }}">Learn</span></a></li>
								<li><a href="{% url 'babaApp:settings' %}" id="settings-link" class="skel-layers-ignoreHref" style="{{ style.settings_li }}"><span class="icon fa-cogs" style="{{ style.settings_span }}">Preferences</span></a></li>
								<li><a href="{% url 'babaApp:reports' %}" id="reports-link" class="skel-layers-ignoreHref" style="{{ style.reports_li }}"><span class="icon fa-bar-chart" style="{{ style.reports_span }}">Reports</span></a></li>
								<li><a href="{% url 'babaApp:random_variables' %}" id="random_variables-link" class="skel-layers-ignoreHref" style="{{ style.random_variables_li }}"><span class="icon fa-pie-chart" style="{{ style.random_variables_span }}">Variables</span></a></li>
							</ul>
						</nav>

						<div id="frameworksList" class="container frameworksSidebar">
                            <section>
                                <h5>Frameworks</h5>
                                <div class="frameworksScroll">
                                    <ul class="frameworksList">

                                        {% if markets %}
                                        {% for market in markets %}
                                        <li><a href="{% url 'babaApp:frameworks_with_market' market.market_name %}">{{ market.market_name }}</a></li>
                                        {% endfor %}
                                        {% endif %}

                                    </ul>
                                </div>
                            </section>
						</div>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

</body>
</html>