<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<!--<span class="image avatar48"><img src="{% static 'babaApp/images/avatar.jpg' %}" alt="" /></span>-->
							<h1 id="title">BabaStrat</h1>
							<p>Creating alphas with BABAs</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<!--

								Prologue's nav expects links in one of two formats:

								1. Hash link (scrolls to a different section within the page)

								   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

								2. Standard link (sends the user to another page/site)

								   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

							-->
							<ul>
								<li><a href="{% url 'babaApp:learn' %}" id="top-link" class="skel-layers-ignoreHref" style="{{ style.learn_li }}"><span class="icon fa-lightbulb-o" style="{{ style.learn_span }}">Learn</span></a></li>
								<li><a href="{% url 'babaApp:settings' %}" id="portfolio-link" class="skel-layers-ignoreHref" style="{{ style.settings_li }}"><span class="icon fa-cogs" style="{{ style.settings_span }}">Settings</span></a></li>
								<li><a href="{% url 'babaApp:reports' %}" id="about-link" class="skel-layers-ignoreHref" style="{{ style.reports_li }}"><span class="icon fa-bar-chart" style="{{ style.reports_span }}">Reports</span></a></li>
							</ul>
						</nav>

						<div id="frameworksList" class="container frameworksSidebar">
                            <section>
                                <h5>Frameworks</h5>
                                <div class="frameworksScroll">
                                    <ul class="frameworksList">

                                        {% if frameworks %}
                                        {% for framework in frameworks %}
                                        <li><a href="{% url 'babaApp:frameworks' framework.framework_name %}">{{ framework.framework_name }}</a></li>
                                        {% endfor %}
                                        {% endif %}

                                    </ul>
                                </div>
                            </section>
						</div>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

</body>
</html>